.navItems {
    padding: 1rem;
    display: flex;
    align-items: center
}

.navItem{
    padding: 1rem;
    margin: 0;
    text-decoration: none;
    color: #ececec;
    font-size: 18px;
}

.navContainer{
    background-color: #3e721d;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin: 0.2rem 0.2rem;
}

.logo{
    max-width: 5rem;
    margin: 10px 20px;
    border-radius: 15px;
}


.btnabrir{
    display: none;
}

@media only screen and (max-width: 550px){

/* .navItem{
    display: none;
}
.buttonAbrir{
    display: flex;
    display: block;
    align-items: center
}  */

.navContainer{
    flex-direction: column;
    align-items: center;
}

.navItems{
    flex-direction: column;
}
 
}