
.btnCount{
    padding: 0.5px 16px;
    margin-top: 0;
    margin-bottom: 0.7rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    background-color: #ececec;
    color: #3e721d;
    border-radius: 5px;
    border-color: #3e721d;
    
}